.DashboardWrapper{
    width: 100%;
    min-height: 70vh;
    /* border: 1px solid red; */
}

.CounterWrapper{
    width: 100%;
    height: 150px;
    /* background-color: green; */
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

.Charts{
    /* border: 1px solid red; */
    height: 300px;
    width: 100%;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: flex-start;
}