.container {
    height: 130vh;
    width: 100%;
    display: flex;
    justify-content: center;

}


form {
    height: 110vh;
    width: 600px;
    padding: 20px;
    display: flex;
    gap: -16px;
    flex-direction: column;
    background: rgb(252, 243, 209);
    border: 1px solid black;
}


input {
    height: 30px;
    width: 570px;
    font-size: 15px;
    opacity: 0.9;
}

form button {
    height: 40px;
    width: 70%;
    margin-left: 14%;
    font-size: 21px;
    letter-spacing: 2.5px;
    font-weight: 500;
    border-radius: 10px;
    background-color: azure;
    border: 1px solid black;
}


.btn {
    cursor: pointer;
}