@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

.ContentWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: scroll;
}


.table {
    width: 100%;
    border-collapse: collapse;
}

.tr {
    background-color: #8EACCD;
    height: 50px;
}


.tbody {
    background-color: #D2E0FB;
}

.tbody tr {
    display: block;
    /* Change display to block */
    margin-bottom: 20px;
    /* Add margin to create gap between rows */
}




.tbody td {
    /* border: 1px solid #387ADF; */
    text-align: center;
    min-height: 40px;
    min-width: 100px;
    word-wrap: break-word;
    padding: 10px;
    font-family: inter;
    /* text-transform: capitalize; */
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    border: none;

}

.table thead {
    width: 100%;
}


.tr th {
    /* border: 1px solid #387ADF; */
    font-size: 16px;
    width: 20px;
}

.btn {
    width: 120px;
    height: 35px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #B5C0D0;
    font-size: 16px;
    font-weight: 400;
}

.link {

    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400
}

.Lbtn {
    width: 120px;
    height: 35px;
    border-radius: 20px;
    background-color: #B5C0D0;
    border: none;
}

.searchInput {
    width: 600px;
    height: 50px;
    border: 3px solid #387ADF;
    border-radius: 20px;
    z-index: 0;
}

.btn1 {
    width: 200px;
    height: 50px;
    border-radius: 40px;
    border: none;
    background-color: #387ADF;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.btn1:hover {
    background-color: #404040;
    transition: .2s linear;
    cursor: pointer;
}

.options {
    height: 50px;
    width: 100%;
    display: flex;
    gap: 50px;
}

.tbody :nth-child(1) {
    width: 80px;
}

@media (480px < width < 770px) {

    .options {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    .btn1 {
        width: 150px;
        height: 50px;
        border-radius: 40px;
        border: none;
        background-color: #387ADF;
        color: white;
        font-size: 12px;
        font-weight: 400;
    }

    /* .searchInput {
        width: 300px;
        height: 50px;
        border: 3px solid #387ADF;
        border-radius: 20px;
    } */
}